body {
  background: #111;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

#info {
  font-size: 3em;
  color: white;
  text-align: center;
  font-family: Consolas, sans-serif;
}

#pixi {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}
