body {
  background: #000 url('assets/img/enicestars.png');
}

.bg-blacc {
  background: #121212;
}

.bg-metalblacc {
  background: #1a1b1f;
}

.text-cyan {
  color: #00ffe8;
}

#errorText {
  display: none;
}


@media only screen and (max-width: 768px) {
    body {
      background-size: 40%;
    }
}
