body {
  background: #000 url('assets/img/enicestars.png');
}

.bg-blacc {
  background: #0f0f0f;
}

.bg-metalblacc {
  background: #1a1b1f;
}

.text-cyan {
  color: #00ffe8;
}

.no-hover-decor:hover {
  text-decoration: none;
}

.hover-glow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 247, 255, 0.85), 0 6px 20px 0 rgba(0, 255, 255, 0.66);
  -webkit-transition: box-shadow ease 0.5s; /* Safari */
  transition: box-shadow ease 0.5s;
}

.roundcorners {
  border-radius: 10px;
}

#errorText {
  display: none;
}

#logoimg {
  width: 100%;
  max-width: 1015px;
}


@media only screen and (max-width: 768px) {
    body {
      background-size: 40%;
    }
}
