
.pmxyloader-root {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pmxyloader {
  z-index: -10;

  border: 7px solid rgba(0,0,0,0);
  border-radius: 50%;
  border-left: 7px solid #ffc107; /* SET YOUR COLORS HERE */
  border-right: 7px solid #ffc107;

  width: 7em;
  height: 7em;
  -webkit-transform: translate(-50%, -50%);

  -webkit-animation: pmxyloaderspin 2s ease infinite; /* Safari */
  animation: pmxyloaderspin 2s ease infinite;
}

@keyframes pmxyloaderspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
